@model LoanApplications.Web.Models.SearchModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Search Applicants </h1>


<partial name="Applicant" model="Model.Applicants" /> 