
@model LoanApplications.Web.Models.BusinessInfoModel

@{
    ViewData["Title"] = "EditBusinessInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EditBusinessInfo</h1>

<h4>BusinessInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditBusinessInfo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div style="display: none;">
                <input asp-for="ApplicantId" class="form-control hide" />
            </div>
            <input type="hidden" asp-for="ApplicantId" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

