
@model IEnumerable<LoanApplications.Shared.Domain.LoanApplication>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Manage Applicants</h1>

<p>
    <a  asp-action="CreateApplicant" >Start a Loan Applicant</a> |
</p>
 
